<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Бесконачни геометријски ред са применама</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../assets/fontawesome-free-5.8.1-web/css/all.css">
</head>
<body>
    <nav class="navbar nav-colored" id="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="../index.html" class="logo">Милош Брковић</a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="../index.html" class="nav-links">Почетак</a>
            </li>
            <li>
                <a href="../index.html#sadrzaj" class="nav-links">Садржај</a>
            </li>
        </ul>
    </nav>
    <main id="main-flex"> 
        <div id="main-content">
            <h1>Литература</h1>
            <hr>
            <ol>
                <li>
                    <p>
                        Морис Д. Веир, Џоел Хас, Френк Р. Ђордано ,,Томасова математичка библија Вештина Рачунања”, Грађевинска књига, Београд.
                    </p>
                </li>
                <li>
                    <p>
                        Јелена Пауновић, Весна Тимотијевић, Младен Зени ,, Геометријски низ”.
                    </p>
                </li>
            </ol>
        </div>
        <div id="sidebar">
            <h3>Садржај</h3>
            <a href="uvod.html">Увод</a>
            <a href="beskonacniRed.html">Бесконачни ред</a>
            <a href="geometrijskiRedovi.html">Геометријски редови</a>
            <a href="primeneEkonomija.html">Примене геометријског низа у економији</a>
            <a href="zezonoviParadoksi.html">Зенонови парадокси; Бесконачни геометријски низ</a>
            <a href="#">Литература</a>
        </div>
    </main>
    <footer class="bottom-footer">Гимназија Смедерево, 2019.</footer>

    <script src="../js/view.js"></script>

</body>
</html>