<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Бесконачни геометријски ред са применама</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../assets/fontawesome-free-5.8.1-web/css/all.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
</head>
<body>
    <nav class="navbar nav-colored" id="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="../index.html" class="logo">Милош Брковић</a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="../index.html" class="nav-links">Почетак</a>
            </li>
            <li>
                <a href="../index.html#sadrzaj" class="nav-links">Садржај</a>
            </li>
        </ul>
    </nav>
    <main id="main-flex"> 
        <div id="main-content">
            <h1>Примене геометријског низа у економији</h1>
            <hr>
            <p>
                едну од најчешћих промена геометријског низа проналазимо у економији, првенствено код сложеног каматног рачуна. Новац стављен у банку назваћемо главница (C), годишњу каматну стопу ћемо обележити са p, а износ камате са I. Годишњи износ камате је \(I=  \frac{Cp}{100}\), а након n година износиће \(I= n \frac{Cp}{100}\) . Главница C на крају n-те године износи
                <span class="formula">$$C+I=C+n {Cp \over 100}=C(1+ {pn \over 100})$$</span>
                Код повољнијег начина штедње, с једнократном уплатом, рачунају се ,,камате на камату“. После годину дана главница износи
                <span class="formula">$$C_1=C+  {Cp \over 100}=C(1+ {p \over 100})$$.</span>
                На крају друге године ће се рачунати камата на почетни износ \(C_1\).
                <span class="formula">$$C_2= C_1+  \frac{C_1 p}{100}=  C_1 (1+ \frac{p}{100})=C(1+ \frac{p}{100})^2$$</span>
                Након n година \(C_n=C(1+ \frac{p}{100})^n,q=1+  \frac{p}{100}\),q је декурзивни каматни фактор.  \(C_n=Cq^n\). Своте \(C,C_1,C_2,…,C_n\) чине коначни геометријски низ и \(C_n  ≠C(1+ \frac{p}{100})^{n-1}\) као што треба бити за n-ти члан геометријског низа јер \(C_n\) није n-ти члан овог низа већ n+1 јер први члан C није индексиран бројем 1, тек је други означен са \(C_1\).
                Ако би се камата израчунавала два пута годишње по годишњој стопи p, онда је после другог обрачуна:
                <span class="formula">$$C_2=C(1+ \frac{\frac{p}{2}}{100})^2$$</span>
                Ако се обрачунава сваког месеца, на крају године ће износити:
                <span class="formula">$$C_12=C(1+ \frac{P}{12 • 100})^12$$</span>
                Ако се каматна стопа у току времена промени, израчуна се први део и то представља главницу за наредно обрачунавање.
            </p>
            <p>
                Још једну примену геометријског низа налазимо код рачунања садашње вредности PV (Present Value) тока готовог новца (Cash Flow). Ток готовог новца представља износе који су примљени или потрошени у току неког временског периода. Садашња вредност новца је његов тренутни износ у односу на будућу вредност после n периода, уз каматну стопу p. Разликујемо две врсте садашње вредности: садашња вредност уложеног новца и садашња вредност тока готовог новца. У првом случају PV нам говори колико будући износ вреди сада. Једна занимљива употреба овог случаја може бити да одредимо колико заиста вреди добитак на лутрији. На пример, државна лутрија Калифорније је објавила награду на лутрији од $1 милион. Међутим, ово није стварна вредност награде. Заправо, влада Калифорније је обећала да плаћа $50 000 годишње у наредних двадесет година. Ако је одбитак по годишњем износу 10%, и ако се први део награде прими одмах, онда садашња вредност награде на лутрији износи $468 246.
            </p>
            <p>
                У другом случају (садашња вредност тока готовог новца), PV представља тренутни утрошак новца који је улаган током времена. Садашња вредност тока готовог новца може се предствити формулом:
                <span class="formula">$$C-  \frac{a}{1+p}-  \frac{a}{(1+p)^2} -…-  \frac{a}{(1+p)^n} =0$$</span>
                <span class="formula">$$C=a \frac{q^n-1}{q^n (q-1)},$$</span>
                из чега следи
                <span class="formula">$$a=C \frac{q^n (q-1)}{q^n-1}$$</span>
                где је \(q=1+  \frac{p}{100}\). Наведимо један пример. Неки пољопривредник жели да уложи 10 000 евра да засади виноград, који ће му годишње доносити приход од вина 1000 евра. Питање је да ли ће пољопривредник после пет година имати већи приход од вина него да је почетни капирал (10 000 евра) ставио у банку која даје камату 2%. Посматрајмо ток готовог новца. Он игледа:
                <span class="formula">$$CF=(-10 000,2500,2500,2500,2500,2500).$$</span>
                Затим израчунајмо његову садашњу вредност:
                <span class="formula">$$PV(CF)= -10 000+  \frac{2500}{1,02}+  \frac{2500}{1,02^2} +  \frac{2500}{1,02^3} +$$  
                    $$\frac{2500}{1,02^4} +  \frac{2500}{1,02^5} ,$$</span>
                Одакле за PV добијамо позитиван број (приближно 700 евра), па закључујемо да је ова инвестиција повољнија.
            </p>
            <p>
                Садашња вредност тока готовог новца је повезана и са кредитима. Кредит се враћа отплатама које се називају ануитети (јер су некада по правилу биле годишње) и претпоставља се да су једнаки. Ануитет (a) се састоји од отплатне квоте (стварни износ за који се умањује главница) и сложене камате. Ако кредит враћамо n година, под претпоставком да су ануитети једнаки, после тих n година бићемо на нули, што значи да ће садашња вредност тока готовог новца бити једнака нули.
            </p>
            <p>
                <strong>Задатак 2.</strong> Особа X улаже сваке године у пензиони фонд 1000 евра и то 35 година уз камату p=5% на годишњем нивоу, а затим па истеку 35 година прима 20 година пензију по a евра годишње уз исту каматну стопу. Колико износи a?
                </p><p><strong>Решење</strong>  Ток готовог новца у овом случају изгледа овако:
                <span class="formula">$$CF=(-1000,-1000,…,-1000,a,a,…,a),$$</span>
                Где се a појављује двадесет пута, а -1000 тридесет пет. Пошто сада знамо да је PV=0, имамо:
                <span class="formula">$$-1000-  \frac{1000}{(1+ \frac{5}{100})}-…-  \frac{1000}{(1+ \frac{5}{100})^{34}}+$$
                      $$\frac{a}{(1+ \frac{5}{100})^{35}}+⋯+ \frac{a}{(1+ \frac{5}{100})^{54}}=0,$$</span>
                где смо претпоставили да је прва пензија примљена следеће године, по улагању последње рате у пензиони фонд. Применом формуле за суму геометријског низа добија се да је тражена вредност пензије a≈ 4813.

            </p>
        </div>
        <div id="sidebar">
            <h3>Садржај</h3>
            <a href="uvod.html">Увод</a>
            <a href="beskonacniRed.html">Бесконачни ред</a>
            <a href="geometrijskiRedovi.html">Геометријски редови</a>
            <a href="#">Примене геометријског низа у економији</a>
            <a href="zezonoviParadoksi.html">Зенонови парадокси; Бесконачни геометријски низ</a>
            <a href="literatura.html">Литература</a>
        </div>
    </main>
    <footer>Гимназија Смедерево, 2019.</footer>

    <script src="../js/view.js"></script>

</body>
</html>