<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Бесконачни геометријски ред са применама</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../assets/fontawesome-free-5.8.1-web/css/all.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
</head>
<body>
    <nav class="navbar nav-colored" id="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="../index.html" class="logo">Милош Брковић</a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="../index.html" class="nav-links">Почетак</a>
            </li>
            <li>
                <a href="../index.html#sadrzaj" class="nav-links">Садржај</a>
            </li>
        </ul>
    </nav>
    <main id="main-flex"> 
        <div id="main-content">
            <h1>Зенонови парадокси; Бесконачни геометријски низ</h1>
            <hr>
            <p>
                Зенон (490-430 п.н.е.) био је предсократовски грчки филозоф, који је припадао елејској школи. Познат је по својим парадоксима:
            </p>
            <ul>
                <li>
                    <p>
                        <strong>Дихотомија</strong>. Кретање је немогуће јер ,,оно што је у покрету мора прво прећи пола пута пре него што стигне до циља“. Ако неко тело треба да пређе путању од тачке A до тачке B, онда оно мора да пређе и тачку \(B_1\) која се налази на средини те путање. Такође, оно мора да пређе и половину растојања \(AB_1\). Одавде закључујемо да је кретање немогуће јер свако растојање има своју половину, тј. свака половина има своју половину.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Ахил и корњача</strong>. ,,У трци, најбржи тркач никада не може престићи најспоријег, зато што гонитељ прво мора доћи до тачке одакле је гоњени пошао, па према томе најспорији увек има предност.“ Замислимо да Ахил трчи против корњаче. Ахил се налази у тачки A, а корњача у тачки K, на одређеном растојању испред њега (дата јој је предност). Ахил трчи x пута брже, али када он стигне до тачке K, корњача ће се за неко растојање померити у тачку \(K_1\). Када Ахил стигне у тачку \(K_1\), корњача ће се одмаћи од њега у неку тачку \(K_2\), и тако редом. Одатле закључујемо да ће корњача увек имати предност над Ахилом, небитно колико мала она била, то јест да Ахил никада неће стићи корњачу.
                    </p>
                </li>
            </ul>
            <p>
                Објашњења за ове парадоксе дао је Архимед, пре 212. године п.н.е. коришћењем бесконачног геометријског низа.

                Бесконачни геометријски низ конвергира ако и само ако је апсолутна вредност количника његових суседних чланова мања од 1. У том случају се може израчунати сума тог низа и она има лоначну вредност.
                <span class="formula">$$\sum_{k=0}^\infty aq^k= \lim_{n \to \infty}⁡\sum_{k=0}^\infty aq^k= \lim_{n \to \infty}⁡ \frac{a(1- q^{n+1} )}{(1-q)}= \frac{q}{(1-q)},$$</span>
                где је a почетни члан низа, а q количник (0  < q < 1). У случају да ова сума не почиње од нуле, него од неког броја m, формула добија следећи облик:
                <span class="formula">$$\sum_{k=m}^\infty aa^k =  \frac{(aq^m)}{(1-q)}$$</span>
                Објашњења за Зенонове парадоксе су следећа:
            </p>
            <p>
                <strong>Дихотомија</strong>. Потребно је приметити да као што се удаљеност смањује, време потребно да се пређе та удаљеност, такође се смањује. Такав приступ решавању парадокса доводи до деманта тврђења да је потребно бесконачно много времена да се пређе коначна удаљеност. Архимед је развио метод да изведе коначни одговор за бесконачно много чланова који постају прогресивно мањи. Ове методе дозвољавају конструкцију решења које кажу да (под нормалним условима) ако се удаљености стално смањују, време је коначно. Та решења су у ствари геометријски низови.
            </p>
            <p>
                <strong>Ахил и корњача</strong>. У случају Ахила и корњаче замислимо да корњача која се креће константном брзином v, има предност од d метара. Ахил трчи брзином xv и да би дошао до тачке K_1 треба му d/xv времена, док корњача за то време прелази d/x. Да би достигао корњачу, Ахилу је потребно
                <span class="formula">$$\frac{d}{v} \sum_{n=0}^\infty ({1 \over x})^n= {d \over v(x-1)}.$$</span>
                Како је ово коначна вредност, закључујемо да ће Ахил достићи корњачу.
            </p>
        </div>
        <div id="sidebar">
            <h3>Садржај</h3>
            <a href="uvod.html">Увод</a>
            <a href="beskonacniRed.html">Бесконачни ред</a>
            <a href="geometrijskiRedovi.html">Геометријски редови</a>
            <a href="primeneEkonomija.html">Примене геометријског низа у економији</a>
            <a href="#">Зенонови парадокси; Бесконачни геометријски низ</a>
            <a href="literatura.html">Литература</a>
        </div>
    </main>
    <footer>Гимназија Смедерево, 2019.</footer>

    <script src="../js/view.js"></script>

</body>
</html>